[submodule "twitter"]
    path = _theme_packages/twitter
    url = https://github.com/jekyllbootstrap/theme-twitter.git
[submodule "_plugins/jekyll-rst"]
	path = _plugins/jekyll-rst
	url = https://github.com/xdissent/jekyll-rst.git
